body {
    font-family: Arial, sans-serif;
    background-color: #5f5a5a;
}
  
  .container {
    width: 300px;
    margin: 0 auto;
    padding: 40px;
    background-color: rgb(150, 137, 137);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .btn1 {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #d41212;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .btn2 {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #ee0e0e;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  

  .btn3 {
    display: block;
    width: 20%;
    padding: 5px;
    background-color: #d60c1d;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .btn4 {
    display: block;
    width: 20%;
    padding: 5px;
    background-color: #d61010;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  


  .btn:hover {
    background-color: #aa0b0b;
  }

  .subtitulo {
    display: flex;
    text-align: center;
    align-items: center;
    width: fit-content;
    margin: auto;
}
